.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: lightgreen;
    height: 150px;
}

.f-first{
    flex: 1;
   
}

.f-first-logo{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 3px;
     
}

.footer-logos {
    flex:1;    
}

.insta-logo,.insta-logo1,.insta-logo2 {
    width: 30px;
    height: 30px;
    margin: 0;
}


.c-r{
    background-color: black;
    color: aliceblue;
    
}