.nav-outer-box{
    display: flex;
    flex-direction: row;
    height: 80px; 
    align-items: center;
    justify-content: space-between;
    margin-left: 20px; 

   }

.nav-left{
    color:black;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
      
}

.nav-right{
    
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: right;


}

.sections{
    color:black;
    display:flex;
    margin-left: 15px; 
                       
 
}
.btn{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 20px;

}

.btn:hover{
    text-decoration: underline;
                    
}
